page-dashboard {
    .main-content {
        background-image: url('../assets/imgs/traveling.jpg');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center;
    }
    
    .title-hello {
        color: #ffffff;
        padding-top: 40px;
        padding-bottom: 0;
        font-size: 3em;
        height: 70px;
    }

    .subtitle-hello {
        color: #ffffff;
    }

 
    ion-card.card {
        box-shadow: none;
        background: rgba(0, 0, 0, 0.4);
        border-radius: 5px;

    }

    .button-full {
        height: 91%;
    }

    .icon {
        padding-right: 10px;
    }
}
