page-flight-status-result {
    .main-content {
        background-image: url('../assets/imgs/traveling.jpg');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center;
    }
    ion-card.card.info-card {
        box-shadow: none;
        background: rgba(0, 0, 0, 0.4);
        border-radius: 5px;
        color: #ffffff;
        text-align: center;
    }

    .card-status-text {
        color: #ffffff;
        font-size: 1.5em;
    }

}
