page-flight-status-result {
    .main-content {
        background-image: url('../assets/imgs/traveling.jpg');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center;
    }
    ion-card.card.info-card {
        box-shadow: none;
        background: rgba(0, 0, 0, 0.4);
        border-radius: 5px;
        color: #ffffff;
        text-align: center;
    }

    .card-status-text {
        color: #ffffff;
        font-size: 1.5em;
    }

    .status-card-right { 
        float: right;
    }

    .icon {
        padding-right: 10px;
    }

    .landed-ok {
        color: #32db64;
        font-size: 1.2em;
    }

    .landed-warning {
        color: orange;
        font-size: 1.2em;
    }

    .riscado {
        text-decoration: line-through;
    }

   ion-row.flight-status {
       height: 25px;
   }

   ion-row.flight-status-text{
       height: 15px;
   }

   .card-title-green {
     border-bottom: 1px solid green;
   }
  
}
