page-my-trips {
    .main-content {
        background-image: url('../assets/imgs/traveling.jpg');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center;
    }

    .card-header {
        border-bottom: 1px solid;
        height: 80px;
        margin-bottom: 5px;
    }

    .location-img {
        border-radius: 10%;
    }

    .card-content {
        text-align: center;
        margin-top: 10px;
    }

    ion-card.card.info-card {
        box-shadow: none;
        background: rgba(0, 0, 0, 0.4);
        border-radius: 5px;
        color: #ffffff;
    }
}
